<template>
    <div>
        <div v-if="overlay" class="overlay flex flex-center align-items-center">
            <ProgressSpinner />
        </div>

        <Dialog header="Rules" :visible.sync="rulesModal">
            <ul>
                <li>Choose a topic (you can type start of topic to select box for search topic)</li>
                <li>Choose and click to button with size of filword (15x15, 17x17, 20x20)</li>
                <li>Generating of filword on small sizes can be 2-5 seconds</li>
                <li>Find words and click letters for mark them</li>
                <li> You should mark letters in the correct order</li>
                <li>Click to "Check it" button for check your results</li>
                <li>If you are right, you will see your word at right panel under "Check it" button</li>
                <li>If you want to clear all marked letters, click "Clear" button</li>
            </ul>
            <div class="flex flex-end">
                <Button label="I agree" @click="rulesModal = false" />
            </div>
        </Dialog>

        <Dialog header="Words" :visible.sync="wordsModal">
            <ul>
                <li v-for="w in wordsForShow" :class="{ guessed: guessedWords.includes(w) }">{{ w }}</li>
            </ul>
            <div class="flex flex-end">
                <Button label="Ok, I will try to find them" @click="wordsModal = false" />
            </div>
        </Dialog>

        <div class="flex flex-center">
            <Button
                label="Big Yellow Button with Rules"
                class="p-button-warning"
                style="color: white; font-weight: 700; font-size: 18px"
                @click="rulesModal = true"/>
        </div>

        <div class="flex flex-center top-10">
            <span class="topic-label">Choose a topic</span>
            <AutoComplete
                v-model="topic"
                :dropdown="true"
                :suggestions="filteredTopics"
                @complete="searchTopic($event)"
                field="name"
            />
        </div>

        <div class="flex flex-space-around top-30 container" v-if="topic !== null">
            <Button label="15x15" :disabled="!buildButton" @click="build(15)"/>
            <Button label="16x16" :disabled="!buildButton" @click="build(16)"/>
            <Button label="17x17" :disabled="!buildButton" @click="build(17)"/>
            <Button label="18x18" :disabled="!buildButton" @click="build(18)"/>
            <Button label="19x19" :disabled="!buildButton" @click="build(19)"/>
            <Button label="20x20" :disabled="!buildButton" @click="build(20)"/>
        </div>

        <div class="container top-30">
            <div class="row">
                <div class="flex flex-center col-sm-12 col-md-10" v-if="matrix.length > 0">
                    <table>
                        <tr v-for="(i, iIndex) in matrix">
                            <td
                                class="letters"
                                :id="'td-' + iIndex + '-' + jIndex"
                                v-for="(j, jIndex ) in i"
                                @click="markLetter(iIndex, jIndex, j)"
                            >
                                {{ j }}
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="col-sm-12 col-md-2" v-if="matrix.length > 0">
                    <div>
                        <div>
                            <div class="timer">{{ timer.minutes }}:{{ timer.seconds }}</div>
                            <Button label="Clear" :disabled="!checkButton" @click="clear()" />
                            <Button label="Check it" :disabled="!checkButton" @click="check()" style="margin-top: 10px;" />
                        </div>
                        <div class="guessed-words">
                            <div style="font-weight: 700">Guessed Words ({{ guessedWords.length }})</div>
                            <div v-for="w in guessedWords">{{ w }}</div>
                        </div>
                        <div class="top-30">
                            <Button label="Show all words as list" @click="showAllWords()" />
                        </div>
                        <div class="top-30">
                            <Button label="Show all words in grid" @click="showAllWordsInMatrix()" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { getTopics, getWordsByTopic } from "./routes";

    export default {
        data: () => ({
            topic: null,
            topics: [],
            filteredTopics: [],
            buildButton: false,
            checkButton: false,
            words: [],
            matrix: [],
            overlay: false,
            letters: [],
            coordinates: [],
            timer: {minutes: 0, seconds: 0},
            timerHasGoing: false,
            guessedWords: [],
            wordsForShow: [],
            rulesModal: false,
            wordsModal: false
        }),

        created() {

        },

        mounted() {
            this.$http.get(getTopics)
                .then(response => {
                    this.topics = response.body;
                }).catch(error => {
                    console.log(error);
                });
        },

        methods: {
            searchTopic(val) {
                this.filteredTopics = [];
                this.topics.forEach((topic) => {
                    if (topic.name.includes(val.query)) {
                        this.filteredTopics.push(topic);
                    }
                });
            },

            build(size) {
                this.overlay = true;
                this.guessedWords = [];
                this.clearMatrixColors();
                this.$http.get(`${getWordsByTopic(this.topic.id)}?size=${size}`)
                    .then(response => {
                        this.matrix = response.body.matrix;
                        this.words = response.body.words;
                        this.wordsForShow = [];
                        response.body.words.forEach((w) => {
                            this.wordsForShow.push(this.getRightWord(w));
                        });
                        this.overlay = false;
                        this.goTimer();
                    })
                    .catch(error => {
                        console.log(error);
                        this.overlay = false;
                    });
            },

            clearMatrixColors() {
                const letters = document.getElementsByClassName('letters');
                for (let letter of letters) {
                    letter.style.backgroundColor = '#ffffff';
                    letter.style.color = '#000000';
                }
            },

            markLetter(x, y, letter) {
                const el = document.getElementById(`td-${x}-${y}`);
                if (el.style['background-color'] === 'rgb(0, 122, 217)') {
                    el.style.backgroundColor = '#ffffff';
                    el.style.color = '#000000';
                    const indexCoordinates = this.letters.findIndex(c => c.x === x && c.y === y);
                    if (indexCoordinates !== -1) {
                        this.letters.splice(indexCoordinates, 1);
                    }
                } else {
                    let isAdd = true;
                    if (this.letters.length === 1) {
                        isAdd = !(
                            this.letters[0].x - 1 !== x && this.letters[0].x + 1 !== x && this.letters[0].x !== x
                            || this.letters[0].y - 1 !== y && this.letters[0].y + 1 !== y && this.letters[0].y !== y
                        );
                    }

                    if (this.letters.length > 1) {
                        isAdd = (
                            (
                                (this.letters[0].x < this.letters[1].x && this.letters[this.letters.length - 1].x + 1 === x)
                                || (this.letters[0].x > this.letters[1].x && this.letters[this.letters.length - 1].x - 1 === x)
                                || (this.letters[this.letters.length - 1].x === x && this.letters[this.letters.length - 1].y !== y)
                            ) && (
                                (this.letters[0].y < this.letters[1].y && this.letters[this.letters.length - 1].y + 1 === y)
                                || (this.letters[0].y > this.letters[1].y && this.letters[this.letters.length - 1].y - 1 === y)
                                || (this.letters[this.letters.length - 1].y === y && this.letters[this.letters.length - 1].x !== x)
                            )
                        );
                    }

                    if (isAdd) {
                        el.style.backgroundColor = '#007ad9';
                        el.style.color = '#ffffff';
                        this.letters.push({letter: letter, x: x, y: y});
                    } else {
                        el.style.backgroundColor = '#e91224';
                        el.style.color = '#ffffff';

                        setTimeout(() => {
                            el.style.backgroundColor = '#ffffff';
                            el.style.color = '#000000';
                        }, 500);
                    }
                }
            },

            check() {
                this.words.forEach((w) => {
                    const word = this.getRightWord(w);
                    const letters = this.letters.map(l => l.letter);
                    if (letters.join('') === word) {
                        this.guessedWords.push(word);
                        this.letters.forEach((letter) => {
                            const el = document.getElementById(`td-${letter.x}-${letter.y}`);
                            el.style.backgroundColor = '#34A835';
                            el.style.color = '#ffffff';
                        });
                    }

                    this.clear();
                });
            },

            clear() {
                const elements = document.getElementsByTagName('td');
                for (let j = 0; j < elements.length; j++) {
                    if (elements[j].style['background-color'] !== 'rgb(52, 168, 53)') {
                        elements[j].style.backgroundColor = '#ffffff';
                        elements[j].style.color = '#000000';
                    }
                }

                setTimeout(() => {
                    this.letters = [];
                }, 300);
            },

            showAllWords() {
                this.wordsModal = true;
            },

            showAllWordsInMatrix() {
                this.words.forEach((word) => {
                    for (let i = 0; i < word.x.length; i++) {
                        let cell = document.getElementById(`td-${word.y[i]}-${word.x[i]}`);
                        if (cell.style.color === 'rgb(0, 0, 0)' || cell.style.color === '') {
                            cell.style.backgroundColor = '#7247bc';
                            cell.style.color = '#ffffff';
                        }
                    }
                });
            },

            goTimer() {
                this.timer.minutes = 0;
                this.timer.seconds = 0;
                setTimeout(() => {
                    document.getElementsByClassName('timer')[0].style.color = '#000000';
                    document.getElementsByClassName('timer')[0].style.fontWeight = '500';
                }, 300);
                let seconds = '';

                if (!this.timerHasGoing) {
                    setInterval(() => {
                        this.timerHasGoing = true;
                        seconds = parseInt(this.timer.seconds) + 1;
                        if (seconds >= 60) {
                            this.timer.minutes++;
                            seconds = 0;

                            this.timer.seconds = 0;
                        }
                        if (seconds < 10) {
                            seconds = '0' + seconds;
                        }
                        this.timer.seconds = seconds;

                        if (parseInt(this.timer.minutes) >= 10) {
                            document.getElementsByClassName('timer')[0].style.color = '#e91224';
                            document.getElementsByClassName('timer')[0].style.fontWeight = '700';
                        }
                    }, 1000);
                }
            },

            getRightWord(w) {
                return w.flip ? w.word.split('').reverse().join('') : w.word;
            }
        },

        watch: {
            topic: function (val) {
                this.buildButton = typeof val.id !== 'undefined';
            },

            letters: function (val) {
                this.checkButton = val.length > 0;
            }
        }
    }
</script>

<style>
    .topic-label {
        line-height: 32px;
        padding-right: 20px;
    }

    td {
        padding: 10px 15px;
        border: 1px solid black;
    }

    td:hover {
        cursor: pointer;
    }

    .overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 999;
    }

    .guessed-words {
        margin-top: 10px;
        font-size: 18px;
    }

    .guessed {
        color: #34A835;
        font-weight: 700;
    }
</style>
