.block {
    display: block;
}

.flex {
    display: flex;
}

.flex-start {
    justify-content: flex-start;
}

.flex-center {
    justify-content: center;
}

.flex-end {
    justify-content: flex-end;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-space-around {
    justify-content: space-around;
}

.align-items-center {
    align-items: center;
}

.top-10 {
    margin-top: 10px;
}

.top-30 {
    margin-top: 30px;
}

@media (min-width: 768px) {
    .container {
        max-width: 100%;
    }
}
